*{
    font-family:sans-serif;
}
.main-bg,.install-bg{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right,#44dddd,#22aaaa);
    background-size: cover;
    background-repeat: no-repeat;
}
.install-box{
    position:absolute;
    border: black 1px solid;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:white;
    border-radius:15px;
    width:500px;
    padding:5px;
}
.install-box h1{
    margin-top:0;
}
.btn{
    width:75px;
    height:25px;
    border-radius:5px;
}
#menubar{
    width:97%;
    margin: 5px 1% 0 1%;
    background-color: #333333;
    box-sizing: border-box;
    border-radius: 5px;
    height:50px;
}
#home-btn{
    float:left;
    padding: 0 10px;
}
.menu-btn{
    box-sizing: border-box;
    height:100%;
    float:left;
    border: #888888 solid;
    border-width: 0 0 0 1px;
    width: calc(calc(100% - 120px) / 4);
    text-align: center;
}
.menu-btn a{
    vertical-align: middle;
    line-height: 50px;
    text-decoration: none;
    color:#ffffff;
}